*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    min-width: 80vh;
    min-height: 60vh;
    border-radius: 5%;
    box-shadow: -7px 10.5px 19px 5px #2e2e2e;
    text-align: center;
    margin-top: 17.5vh;
}

h1 {
    line-height: 2;
}

ul li{
    line-height: 1.7;
}

li:nth-child(1) .edit{
    margin-left: 18px;
}

li:nth-child(1) .edit{
    margin-left: 18px;
}

label{
    margin-left: 20px;
    font-size: 25px;
}

ul button {
    margin-left: 15px;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
}

input[type=checkbox]:checked ~ label{
    text-decoration: line-through;
}